
body{
  background-color: #ffe6a7;
  
} 
.primary{
  color: white;
  background-color: black;
  border-radius: 50px;
  border:  2px solid #121212;
  padding: 15px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  

}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a{
  text-decoration: none;
  color: white;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  width: 150px;
}
.list a{
  margin-right: 15px;
  font-size:200;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid;
  padding: 10px;
  color: #121212;
}
.hero{
  background: url(img/AfriknFusion_AfriknMixAgneau.png);
  background-position: center;
  background-size: cover;
  height: 400px;
  text-align: center;
  
}
.card img{ 
  width: 225px;
  height: 225px;
  border-radius: 30px;
  
}
.card ul {
  display: flex;
  gap: 16px;
  border-radius: 50px;
  list-style-type: none;
  
 
}
h1{
  color: white;
  font-size: 70px;
  text-align: center;
  padding: 150px 0 0 0;
  text-shadow: 0 2px 20px;

}
h2{
  text-align: center;
}
h5{
  text-align:center;
  border: 1px solid black ;
  border-radius: 10px;
  padding: 10px;
  color: black;
  background-color: coral;
}

.card{ 
  overflow: scroll;

}
li p{
  height: 120px;
} 
.card li{
  border: 1px solid black;
  border-radius: 30px;
  padding: 10px 10px 30px 10px;
}
.card1{
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card1 img{ 
  width: 225px;
  height: 225px;
  border-radius: 30px;
  
}
.card1 ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  border-radius: 50px;
  list-style-type: none;
}
.card1 li{
  border: 1px solid black;
  border-radius: 30px;
  
}
.card::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px transparent;
  background-color: transparent;
}
.card::-webkit-scrollbar-thumb {
  background-color: transparent;
}
.card::-webkit-scrollbar {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  display: none;
  width: 0;
  background: transparent;
  background-color: transparent;
}
.buton:hover{
  color: red;
  background-color: black;
}

h5:hover{
  color: aliceblue;
  background-color: #121212;
}
h4{
  font-size: 20px;
}

.infos a{
  text-decoration: none;
}



.infos{
  display: flex;
  justify-content: space-around;
background-color: #121212;
}
.infos a{
  margin-right: 20px;
  font-size: 20px;
  color: #fff;
}
.infos-content{
  padding: 50px 0 0 0;
}
.infos-content a:hover{
  color: #B1977E;
  }
.social-media-links h4{
  color: white;
  font-size: 20px;
}
.social-media-links img{
width: 50px;
height: 50px;
}
.social-media-links{
  padding-bottom: 50px;
}
footer{
  background-color: #121212;
  color: #fff;
}
footer h6{
  color: white;
  text-align: center;
  font-size: 18px;
}
.footer-infos{
  border-top: 2px solid #B1977E;
  padding-bottom: 10px;
}











