
body{
  background-color:#7f4f24
  
} 
.primary{
  color: black;
  background-color: transparent;
  border-radius: 50px;
  border:  2px solid #121212;
  padding: 15px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;

}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a{
  text-decoration: none;
  color: #121212;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  width: 150px;
}
.list a{
  margin-right: 15px;
  font-size:200;
  font-weight: bold;
}
.hero{
  background: url(img/AfriknFusion_AfriknMixAgneau.png);
  background-position: center;
  background-size: cover;
  height: 400px;
  text-align: center;
  
}
.card img{ 
  width: 225px;
  height: 225px;
  
}
.card ul {
  display: flex;
  gap: 16px;
  border-radius: 50px;
}
h1{
  color: white;
  font-size: 70px;
  text-align: center;
  padding: 150px 0 0 0;
}
h2{
  text-align: center;
}
h5{
  text-align:right;
}